[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
"discord.py" = "~=1.5.1"
loguru = "~=0.5"

[dev-packages]
flake8 = "*"
flake8-annotations = "*"
flake8-bugbear = "*"
flake8-docstrings = "*"
flake8-import-order = "*"
flake8-string-format = "*"
flake8-tidy-imports = "*"
pep8-naming = "*"
pre-commit = "~=2.8"

[requires]
python_version = "3.8"

[scripts]
start = "python -m bot"
lint = "pre-commit run --all-files"
precommit = "pre-commit install"
build = "docker build -t ghostofgoes/sagira-bot:latest -f Dockerfile ."
push = "docker push ghostofgoes/sagira-bot:latest"
